{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			
		</div>
		<div class="col-md-7"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							 <li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	{% if players !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Basketball</h2>
					{% for i in players %}
						{% if i.sport == 'Basketball' %}
							<div class="player-item">
								<h3>{{i.name}}</h3>
								<p>{{i.height}} cm</p>
								<p>{{i.weight}} kg</p>
								<a href='{{url_for('player_url.edit_player', city_id = city.id, player_id=i.id ) }}'>Edit</a> |
								<a href='{{url_for('player_url.delete_player', city_id = city.id, player_id=i.id ) }}'>Delete</a>
							</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-4">
				<h2>Football</h2>
					{% for i in players %}
						{% if i.sport == 'Football' %}
						<div class="player-item">
							<h3>{{i.name}}</h3>
							<p>{{i.height}} cm</p>
							<p>{{i.weight}} kg</p>
							<a href='{{url_for('player_url.edit_player', city_id = city.id, player_id=i.id ) }}'>Edit</a> |
							<a href='{{url_for('player_url.delete_player', city_id = city.id, player_id=i.id ) }}'>Delete</a>
						</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-3">
				<h2>Hockey</h2>
					{% for i in players %}
						{% if i.sport == 'Hockey' %}
						<div class="player-item">
							<h3>{{i.name}}</h3>
							<p>{{i.height}} cm </p>
							<p>{{i.weight}} kg</p>
							<a href='{{url_for('player_url.edit_player', city_id = city.id, player_id=i.id ) }}'>Edit</a> |
							<a href='{{url_for('player_url.delete_player', city_id = city.id, player_id=i.id ) }}'>Delete</a>
						</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}